@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/open-sans-v29-latin-regular.woff2") format("woff2"),
    url("../fonts/open-sans-v29-latin-regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/open-sans-v29-latin-600.woff2") format("woff2"),
    url("../fonts/open-sans-v29-latin-600.woff") format("woff");
  font-display: swap;
}
